.operate {height:40px; font-size: 12px; padding-top:2px;}
.operateblock{float: left; text-align: center; height:40px; margin:0 8px; cursor:pointer; }
icondiv {height:20px;}
.icon{height:16px; width:16px;margin:0 0;}
.title{line-height:12px;}
.optable {
    align
}